body {
  background: #f7ff00; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #db36a4,
    #f7ff00
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #db36a4,
    #f7ff00
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "Comfortaa", cursive;
  font-family: "Roboto", sans-serif;
}

.first-article {
  margin: 100px auto;
  padding: 10px;
  text-align: center;
  width: 75%;
  border: 10px solid white;
  border-radius: 50px;
}

.first-article-head {
  color: white;
  font-family: "Comfortaa", cursive;
  font-size: 60px;
}
255,155,62