body {
  background: #f7ff00; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #db36a4,
    #f7ff00
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #db36a4,
    #f7ff00
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "Comfortaa", cursive;
  font-family: "Roboto", sans-serif;
}
.header {
  margin: 150px auto;
  text-align: center;
  width: 90%;
  color: white;
  font-family: "Comfortaa", cursive;
  font-size: 110px;
}
.article {
  margin: 150px auto;
  padding: 50px;
  text-align: center;
  width: 60%;
  border: 10px solid white;
  border-radius: 50px;
  color: white;
}
.first-article-head {
  font-family: "Comfortaa", cursive;
  font-size: 60px;
}
.starfruit {
  align: center;
  width: 600px;
}
.second-article-head {
  font-family: "Comfortaa", cursive;
  font-size: 60px;
}
.dragonfruit {
  align: center;
  width: 600px;
}
.third-article-head {
  font-family: "Comfortaa", cursive;
  font-size: 60px;
}
.passionfruit {
  align: center;
  width: 600px;
}
